# import

In [1]:
import sys
import os
import pandas as pd
import seaborn as sns
import numpy as np
from src.utility.constants import *
from src.init_DFs.per_game import PerGameInit
initPG = PerGameInit()

# configure

In [2]:
season = "all" 
situation = "5on5"

In [5]:
# Configure PER_GAME_{SITUATION}_{SEASON}.csv
games = pd.read_csv(CSV_DB_PATH + f"{season}/games.csv")
team_5on5 = pd.read_csv(CSV_DB_PATH + f"{season}/team_x_game_5on5.csv")
odds = pd.read_csv(CSV_DB_PATH + f"{season}/odds_x_game.csv")

# merge team_{SIT}, games, odds
#pg = pd.merge(team_5on5, games)
pg = pd.merge(games, odds)
pg

,game_id,home_team,away_team,home_score,away_score,season,game_time,game_date,home_odds,away_odds,ot_odds,home_result,away_result,ot_result
0,2014-10-08BOSPHI,BOS,PHI,2,1,2014,19:30:00,10/8/2014,0.55249,0.26954,0.24331,1,0,0
1,2014-10-08CGYVAN,CGY,VAN,2,4,2014,22:00:00,10/8/2014,0.36900,0.44053,0.25575,0,1,0
2,2014-10-08LAKSJS,LAK,SJS,0,4,2014,22:00:00,10/8/2014,0.47393,0.33784,0.24876,0,1,0
3,2014-10-08TORMTL,TOR,MTL,3,4,2014,19:00:00,10/8/2014,0.40984,0.39062,0.25773,0,1,0
4,2014-10-09ARIWPG,ARI,WPG,2,6,2014,22:00:00,10/9/2014,0.46296,0.34014,0.25510,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10801,2023-04-13SEAVGK,SEA,VGK,1,3,2022,22:30:00,4/13/2023,0.41667,0.40161,0.23753,0,1,0
10802,2023-04-13TBLDET,TBL,DET,5,0,2022,19:00:00,4/13/2023,0.58140,0.25974,0.21552,1,0,0
10803,2023-04-13WSHNJD,WSH,NJD,4,5,2022,19:00:00,4/13/2023,0.32573,0.50505,0.22676,0,0,1
10804,2023-04-14CBJBUF,CBJ,BUF,2,5,2022,19:30:00,4/14/2023,0.30960,0.53191,0.21834,0,1,0
10805,2023-04-14NSHCOL,NSH,COL,3,4,2022,20:00:00,4/14/2023,0.26596,0.56497,0.22472,0,1,0

2022-10-22NJDSJS
2022-10-25LAKTBL
2022-10-29SJSTBL
2022-11-25SJSLAK
2022-12-17LAKSJS
2023-01-11LAKSJS
2023-01-14LAKNJD
2023-01-16SJSNJD
2023-01-28TBLLAK
2023-02-07TBLSJS
2023-02-23NJDLAK
2023-03-14NJDTBL
2023-03-16NJDTBL
2023-03-19TBLNJD
2021-11-05LAKNJD
2021-11-06SJSNJD
2021-11-20TBLNJD
2021-11-30NJDSJS
2021-12-14TBLLAK
2022-01-17SJSLAK
2022-01-18LAKTBL
2022-01-22SJSTBL
2022-01-23NJDLAK
2022-01-27TBLNJD
2022-02-01TBLSJS
2022-02-15NJDTBL
2022-03-10LAKSJS
2022-03-12SJSLAK
2022-03-17LAKSJS

In [ ]:
# create PER_GAME_{SITUATION}_{SEASON}.csv
pg = initPG.init_per_game(pg)
export_csv(pg, "all", "5on5", "PER_GAME1")

In [ ]:
# create PER_GAME_BY_TEAM_{SITUATION}_{SEASON}.csv
pg_copy = pg.copy()
pg_teams = initPG.init_by_team(pg, pg_copy)
export_csv(pg_teams, "all", "5on5", "PER_GAME_BY_TEAM1")
pg_teams

# test

In [9]:
## CHECK OUT DFs
#len(pg_teams[(pg_teams["win"] == 1)]) - len(pg_teams[(pg_teams["win"] == 0)])
    # should = 0
#len(pg_teams[((pg_teams["reg_win"] == 1) & (pg_teams["overtime"] == 1))])
    # should = 0
#pg

## see if equal to saved PER_GAME.csv
#pg_csv = pd.read_csv(CSV_TEMP_PATH + f'PER_GAME_{situation}_{season}.csv')
#pg_old_csv = pd.read_csv(CSV_DB_PATH + f"{season}/PER_GAME_{situation}_{season}.csv")
#pg_compare = pg_csv.compare(pg_old_csv)
#print(pg_compare)

## see if equal to saved PER_GAME_BY_TEAM.csv
pg_teams_csv = pd.read_csv(CSV_TEMP_PATH + f'PER_GAME_BY_TEAM_{situation}_{season}.csv')
pg_teams_old_csv = pd.read_csv(CSV_DB_PATH + f"{season}/PER_GAME_BY_TEAM_{situation}_{season}.csv")
pg_teams_compare = pg_teams_csv.compare(pg_teams_old_csv)
print(pg_teams_compare)

Empty DataFrame
Columns: []
Index: []

# export

In [17]:
## PER_GAME
pg.to_csv(CSV_DB_PATH + f'{season}/PER_GAME_{situation}_{season}.csv', header=True, index=False)
os.remove(CSV_TEMP_PATH + f'PER_GAME_{situation}_{season}.csv')

## PER_GAME_BY_TEAM
pg_teams.to_csv(CSV_DB_PATH + f'{season}/PER_GAME_BY_TEAM_{situation}_{season}.csv', header=True, index=False)
os.remove(CSV_TEMP_PATH + f'PER_GAME_BY_TEAM_{situation}_{season}.csv')