In [1]:
# Import Dependencies
import sys
import pandas as pd
import seaborn as sns
import numpy as np
from src.init_DFs.per_game import PerGameInit
perGameInit = PerGameInit()

In [5]:
# Configure PER_GAME_{SITUATION}_{SEASON}.csv
season = "2022"
situation = "5on5"
csv_database = "C:/wamp64/www/bet-nhl-model/csv_database/"
games = pd.read_csv(csv_database + f"{season}/games_{season}.csv")
team_5on5 = pd.read_csv(csv_database + f"{season}/team_x_game_{situation}_{season}.csv")
odds = pd.read_csv(csv_database + f"{season}/odds_x_game_{season}.csv")

# merge team_{SIT}, games, odds
pg = pd.merge(team_5on5, games)
pg = pd.merge(pg, odds)

# create PER_GAME_{SITUATION}_{SEASON}.csv
pg = perGameInit.init_per_game(pg)
pg.to_csv(f'PER_GAME_{situation}_{season}.csv', header=True, index=False)

# create PER_GAME_BY_TEAM_{SITUATION}_{SEASON}.csv
pg_copy = pg.copy()
pg_teams = perGameInit.init_by_team(pg, pg_copy)
pg_teams.to_csv(f'PER_GAME_BY_TEAM_{situation}_{season}.csv', header=True, index=False)
pg_teams

,game_id,team,opp_team,season,next_game_id,score,opp_score,win,reg_win,overtime,...,scoreAdjustedShotsAttempts,unblockedShotAttempts,scoreAdjustedUnblockedShotAttempts,dZoneGiveaways,xGoalsFromxReboundsOfShots,xGoalsFromActualReboundsOfShots,reboundxGoals,totalShotCredit,scoreAdjustedTotalShotCredit,scoreFlurryAdjustedTotalShotCredit
0,2022-10-11LAKVGK,VGK,LAK,2022,2022-10-13VGKCHI,4,3,1,1,0,...,71.248,50,51.496,2,0.584,0.827,0.827,3.613,3.804,3.601
1,2022-10-11LAKVGK,LAK,VGK,2022,2022-10-13LAKSEA,3,4,0,0,0,...,42.105,36,35.392,11,0.392,0.467,0.467,2.458,2.358,2.325
2,2022-10-11NYRTBL,NYR,TBL,2022,2022-10-13MINNYR,3,1,1,1,0,...,38.854,25,24.988,5,0.302,0.485,0.485,1.930,1.878,1.834
3,2022-10-11NYRTBL,TBL,NYR,2022,2022-10-14CBJTBL,1,3,0,0,0,...,28.551,20,20.315,5,0.208,0.176,0.176,1.311,1.371,1.360
4,2022-10-12ANASEA,SEA,ANA,2022,2022-10-13LAKSEA,4,5,0,0,1,...,58.147,45,48.426,2,0.466,0.974,0.974,2.452,2.657,2.617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2587,2023-04-13WSHNJD,NJD,WSH,2022,NA,5,4,1,0,1,...,67.234,51,49.959,3,0.556,0.955,0.955,3.182,3.196,3.139
2588,2023-04-14CBJBUF,CBJ,BUF,2022,NA,2,5,0,0,0,...,47.015,38,36.993,2,0.433,1.704,1.704,2.317,2.250,2.238
2589,2023-04-14CBJBUF,BUF,CBJ,2022,NA,5,2,1,1,0,...,68.967,50,52.221,0,0.565,0.953,0.953,3.795,4.006,3.909
2590,2023-04-14NSHCOL,COL,NSH,2022,NA,4,3,1,1,0,...,57.398,38,41.313,4,0.390,0.316,0.316,2.699,2.946,2.897
2591,2023-04-14NSHCOL,NSH,COL,2022,NA,3,4,0,0,0,...,34.227,25,23.750,3,0.288,0.400,0.400,1.420,1.339,1.328

In [7]:
# CHECK OUT DFs
len(pg_teams[(pg_teams["win"] == 1)]) - len(pg_teams[(pg_teams["win"] == 0)])
    # should = 0
#len(pg_teams[((pg_teams["reg_win"] == 1) & (pg_teams["overtime"] == 1))])
    # should = 0

0

In [ ]:
# COMPARE TO PREVIOUS CSVs
csv_database = "C:/wamp64/www/bet-nhl-model/csv_database/"
season = "recent"
situation = "5on5"
# see if equal to saved PER_GAME.csv
pg_csv = pd.read_csv(f'C:/wamp64/www/bet-nhl-model/PER_GAME_{situation}_{season}.csv')
pg_old_csv = pd.read_csv(csv_database + f"{season}/PER_GAME_{situation}_{season}.csv")
pg_compare = pg_csv.compare(pg_old_csv)

# see if equal to saved PER_GAME_BY_TEAM.csv
pg_teams_csv = pd.read_csv(f'C:/wamp64/www/bet-nhl-model/PER_GAME_BY_TEAM_{situation}_{season}.csv')
pg_teams_old_csv = pd.read_csv(csv_database + f"{season}/PER_GAME_BY_TEAM_{situation}_{season}.csv")
pg_teams_compare = pg_teams_csv.compare(pg_teams_old_csv)

print(pg_teams_compare)